@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #04152d;
}

/* .swiper {
 
    width: 85%;
    height: 75vh; 
    position: relative;
}

.swiper-slide {
    margin-left: 2px;
    width: 18vw !important;
    height: 50vh !important; 

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 10vw;
    height: 10vh;
}*/

.swiper-button-prev::after {
  position: relative;
  bottom: 10vh;
}

.swiper-button-next::after {
  position: relative;
  bottom: 10vh;
}